.city {
  color: white;
  background: rgb(128, 128, 128);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  max-width: 30rem;
  margin: 1rem auto;
  border-radius: 10px;
  border-left: 5px solid orangered;
  cursor: pointer;
  transition: all 0.3s;
}

.city:hover{
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

h3 {
  display: inline-block; 
  padding: 0.5rem;
}

.left {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.4rem;
  margin-right: 0.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.icon:hover {
  color: orangered;
}
