.loading {
  width: 5rem;
  height: 5rem;
  margin: 2rem auto;
  border: 5px solid orangered;
  border-radius: 50%;
  border-top: 5px solid black;
  animation: rotate 0.8s ease-in-out infinite;

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
