@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
 
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
}

.main {
  background: black;
  height: calc(110vh - 2rem);
  margin: 1rem;
  background: linear-gradient(rgba(36, 42, 46, 0.8), rgba(36, 42, 46, 0.8)),
    url("../public/bg.jpg");
  background-position: center;
  background-size: cover;
}

.btn {
  background: orangered;
  padding: 0.5rem 0.8rem;
  border-radius: 7px;
  font-weight: 300;
  transition: all 0.3s;
  text-transform: uppercase;
  color: white;
  border: transparent;
  cursor: pointer;
}

.btn:hover {
  background: rgb(190, 55, 6);
}

.homeBtn {
  padding: 1rem 2rem;
}

.positionBtn{
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%,-50%);
  z-index: 1000;
}

.active {
  color: orangered;
}
