.map {
  height: 40rem;
  background: rgb(54, 54, 54);
  color: white;
  padding: 4rem 0;
  overflow: hidden;

}

@media screen and (min-width: 900px) {
  .map {
    width: 100%;
    height: 100%;
  }
}
